body {font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
background-color: #FFE4E1;
color:#807C7C;}
h1, h2 {color: #423E3E;}
a {color:#423E3E;}
nav {background-color: #F3EDED;}
nav a {color:#423E3E;}
nav a:hover {background-color:#DBD1D1;}
nav {padding: 10px;
margin-bottom:30px;}
.quote {float:right;margin-right:10px;}
.quote {display: inline-block;}
.contact {display:flex;
background-color: rgb(250, 250, 250);border-radius: 1em;
padding:10px;margin: 10px;}
.map {display:flex;
background-color: rgb(250, 250, 250);border-radius: 1em;
padding: 1%; margin:10px;}
.map1 {margin-left:10%;}
.linkedin {margin-left:10%;}
h1 {text-align: center;}
.design {display:flex;
    flex-basis:3;
border-radius: 90px;
margin:20px;
padding:30px;}

aside {background-color: cornsilk;
border-radius: 25px;
padding:10px;
margin-left: 400px;}
.flexbox {display:flex;
flex-basis:1;
justify-content: space-around;
}
p {margin:10px;}

.header {max-width: 100%;}
.map {flex-wrap: wrap;}

@media only screen and (max-width:800px) {
    nav a {width: 100%; 
        display: block;
    margin: 5px;}
        span {display: none;}
   
    
}